:root {
--gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: serif;
    font-size: 2rem;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

.main-bg {
    background-image: url('../img/main_bg2.png');
    background-size: cover;
    background-position: center center;
    color: cornsilk;
}

.other-bg {
    background-image: url('../img/main_bg3.png');
    background-size: cover;
    background-position: center center;
    color: cornsilk;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}